#Editor de configuracion
root = true 
[*]
charset = utf-8
indent_style = space
indent_size = 2 
insert_final_newline = true
trim_triling_whitespace = true 

[*js]
quote_type = single 

[*.md]
max_line_length = off
trim_triling_whitespace = false 
